@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:ital,wght@0,300;0,400;0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@0,300;0,400;0,500;1,400&display=swap");
/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}
input:active,
input:hover,
input:focus {
  outline: 0;
  outline-offset: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
}
.axit {
  height: 1026px;
  background-image: linear-gradient(
      90deg,
      rgba(6, 0, 0, 0.6) 0%,
      rgba(0, 5, 5, 0.6) 50%,
      rgba(6, 0, 0, 0.6) 100%
    ),
    url(../img/image.png);
  background-size: cover;
}
.axit__header {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 75px;
}
.logo {
  position: absolute;
  width: 84px;
  height: 31px;
  margin-left: 115px;
  margin-top: 22px;
}
.header__menu {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 770px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}
.menu__part {
  width: 134px;
  height: 75px;
  background: black;
  color: white;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}
a {
  color: white;
}
.menu__part:hover {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: white;
  background: #ec7979;
  transform: scale(1.1);
}
.menu__part:active {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: white;
  background: #ab4949;
}
.axit__content {
  display: flex;
  justify-content: space-around;
  padding-right: 170px;
}
.axit__content-text {
  padding-top: 230px;
  padding-left: 170px;
}
.axit__title {
  padding-top: 72px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: white;
}
.axit__separator {
  margin-top: 55px;
  width: 170px;
  height: 1px;
  background-color: white;
  border: none;
}
.axit__subtitle {
  margin-top: 42px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: white;
}
.axit__btn {
  width: 270px;
  height: 58px;
  margin-top: 42px;
  cursor: pointer;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: white;
  background: none;
  border: 2px solid #ffffff;
}
.axit__btn:hover {
  border: 2px solid #ec7979;
  color: #ec7979;
}
.axit__btn:active {
  background: #ab4949;
  border: 2px solid #ab4949;
  color: white;
}
.axit__content-registration {
  position: relative;
  margin-top: 283px;
  width: 470px;
  height: 450px;
  border-radius: 10px;
  background: #ffffff;
}
.title-registration {
  padding-top: 15px;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}
.free {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #ec7979;
}
.field {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  padding-left: 50px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #bdbdbd;
}
.axit__input {
  width: 370px;
  height: 40px;
  border: 1px solid;
  border-color: white white #bdbdbd;
  margin-bottom: 30px;
}
.regisration__btn {
  position: absolute;
  bottom: 0;
  width: 470px;
  height: 60px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  background: #ec7979;
  color: white;
  border-radius: 0 0 10px 10px;
}
.regisration__btn:hover {
  background: #ab4949;
  border-radius: 0px 0px 10px 10px;
}
.regisration__btn:active {
  background: #ec7979;
  border-radius: 0px 0px 10px 10px;
  box-shadow: inset 1px 1px 1px 1px #ab4949;
}
.social {
  max-height: 140px;
  background: #f8efef;
  display: flex;
  justify-content: space-around;
}
.social__text {
  padding-top: 20px;
  padding-bottom: 20px;
}
.social__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}
.social__subtitle {
  padding-top: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
}
.social__icon {
  width: 640px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about__wrapper-tabs {
  margin-top: 109px;
}
.about__tabs {
  max-width: 1170px;
  height: 40px;
  display: flex;
  margin: 0 auto;
}
.about__tabs-item1 {
  padding-top: 8px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: black;
  text-align: center;
  width: 184px;
  height: 40px;
  border: 1px solid;
  border-color: #c6cbcd #c6cbcd transparent;
  border-radius: 8px 8px 0 0;
}
.about__tabs-item2 {
  padding-top: 8px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: black;
  text-align: center;
  width: 184px;
  height: 40px;
  border: 1px solid;
  border-color: white white #c6cbcd;
}
.about__tabs-item3 {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: black;
  padding-top: 8px;
  padding-left: 73px;
  width: 802px;
  height: 40px;
  border: 1px solid;
  border-color: white white #c6cbcd;
}
.about__tabs-block {
  max-width: 1170px;
  max-height: 501px;
  margin: 0 auto;
  border: 1px solid;
  border-color: #c6cbcd;
  border-top: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about__text-block {
  padding-left: 100px;
  padding-top: 60px;
}
.about__block-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  display: flex;
  align-items: center;
}
.about__block-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.about__btn {
  cursor: pointer;
  margin-top: 30px;
  width: 270px;
  height: 58px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: white;
  text-align: center;
  background: #ec7979;
}
.about__btn:hover {
  background: #ec7979;
  box-shadow: inset 0p 0 10px #ab4949;
}
.about__btn:active {
  background: #ab4949;
}
.about {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.about__title {
  height: 150px;
  padding-top: 57px;
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 400;
  color: black;
  text-align: center;
}
.about__separator {
  width: 170px;
  height: 1px;
  background-color: #ec7979;
  border: none;
  margin: 0 auto;
}
.about__subtitle {
  padding-top: 40px;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  color: #86878b;
  text-align: center;
}
.about__content-image {
  text-align: center;
}
.about__content-title {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  color: black;
  text-align: center;
}
.about__content-subtitle {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  color: black;
  white-space: pre-line;
  padding-top: 15px;
}
.about__content {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 58px;
}
.about__pricing {
  margin: 0 auto;
  padding-top: 15px;
  height: 900px;
  background-color: #f5f5f5;
}
.about__pricing-content {
  padding-left: 170px;
  padding-right: 170px;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}
.about__pricing-block {
  text-align: center;
  padding-top: 30px;
}
.about__pricing-block2 {
  text-align: center;
  border: 2px solid #f5f5f5;
  box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
}
.line1 {
  width: 370px;
  height: 60px;
  padding-top: 12px;
  border: 2px solid #f5f5f5;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  background-color: #333333;
}
.line2 {
  width: 370px;
  height: 100px;
  padding-top: 18px;
  border: 2px solid #f5f5f5;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #333333;
}
.line3 {
  padding-top: 9px;
  width: 370px;
  height: 50px;
  background-color: #333333;
  border: 2px solid #f5f5f5;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  color: #ffffff80;
}
.line4 {
  padding-top: 9px;
  width: 370px;
  height: 50px;
  border: 2px solid #f5f5f5;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  color: #86878b;
  background-color: #ffffff;
}
.about__customers {
  margin: 0 auto;
  max-width: 1170px;
  margin-top: 60px;
}
.about__customers-comment {
  padding-top: 80px;
  padding-bottom: 65px;
  display: flex;
  justify-content: space-around;
}
.about__text-comment {
  padding-top: 30px;
  max-width: 370px;
  height: 180px;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  color: #86878b;
  text-align: center;
  background-color: #e2e2e2;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
}
.about__text-comment::after {
  content: " ";
  position: absolute;
  margin-top: 50px;
  margin-left: -145px;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 30px solid #e2e2e2;
}
.about__whose-comment {
  max-width: 370px;
  margin-top: 60px;
  display: flex;
}
.about__comment-title {
  max-width: 270px;
  margin-left: 30px;
}
.banner {
  height: 442px;
  padding-bottom: 30px;
  background-image: linear-gradient(
      90deg,
      rgba(6, 0, 0, 0.6) 0%,
      rgba(0, 5, 5, 0.6) 50%,
      rgba(6, 0, 0, 0.6) 100%
    ),
    url(../img/image2.png);
  background-size: cover;
}
.banner__text {
  text-align: center;
}
.banner__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: white;
  padding-top: 75px;
  padding-bottom: 70px;
}
.banner__separator {
  width: 170px;
  height: 1px;
  border: none;
  background-color: #ffffff;
  margin: 0 auto;
}
.banner__subtitle {
  padding-top: 40px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: white;
}
.banner__btn {
  width: 370px;
  height: 58px;
  margin-top: 73px;
  cursor: pointer;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: white;
  background: none;
  border: 2px solid #ffffff;
}
.banner__btn:hover {
  border: 2px solid #ec7979;
  color: #ec7979;
}
.banner__btn:active {
  background: #ab4949;
  border: 2px solid #ab4949;
  color: white;
}
.contact {
  margin-top: 75px;
}
.contact__title {
  text-align: center;
  padding-bottom: 70px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: black;
}
.contact__separator {
  width: 170px;
  height: 1px;
  border: none;
  background-color: #ec7979;
  margin: 0 auto;
}
.contact__subtitle {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 85px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
}
.contact__form {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}
.contact__us {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #bdbdbd;
}
.contact__input {
  height: 44px;
  border: 1px solid;
  border-color: white white #bdbdbd;
  margin-bottom: 30px;
}
.contact__message {
  flex: 1 1 auto;
  padding-left: 30px;
}
textarea {
  width: 100%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #bdbdbd;
  border: 1px solid;
  border-color: white white #bdbdbd;
  resize: none;
}
.contact__btn {
  text-align: center;
  width: 370px;
  height: 58px;
  background: #ec7979;
  margin-bottom: 50px;
  margin-top: 30px;
  margin-left: calc(50% - 185px);
  color: white;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.contact__btn:hover {
  background: #ab4949;
}
.contact__btn:active {
  background: #ec7979;
  box-shadow: inset 1px 1px 1px 1px #ab4949;
}
.footer {
  background: black;
  height: 164px;
}
.icon2 {
  width: 53px;
  height: 53px;
}
.footer__icon {
  padding-top: 45px;
  margin-left: 480px;
  margin-right: 480px;
  display: flex;
  justify-content: space-around;
}
.footer__text {
  margin-top: 30px;
  margin-bottom: 25px;
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff80;
}
